body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

#main-canvas {
    position: fixed;
    top:0;
    margin-top: 0px;
    left: 0;
    margin-left: 0px;
}



@media only screen and (max-width:800px){

   #main-canvas {
        left: 0;
        margin-left: 0;
    }

    #stats {
        zoom: 3;
    }

}

@media only screen and (max-height:600px){

    #main-canvas {
        top: 0;
        margin-top: 0;
    }



}

.chat {
    position: fixed;
    padding: 1em;
    background: rgba(0,0,0,0.3);
    z-index: 999;
    color: white;
    width: 220px;
    font-size: 10px;
    font-family: "Arial Rounded MT Bold",Courier,Arial;

}
.chat #log {
    height: 120px;
    overflow-x: hidden;

}
.chat input { width: 100%}